<div ng-controller="inputController">
    <form action=>
        
<div class="logo">Escapade</div>
<div class="login-block">
    <h1>Discover your next Adventure!</h1>
    <input type="text" name="curLoc" ng-model="curLoc" ng-model-options="{ getterSetter: true }" placeholder="Address" g-places-autocomplete><br>
    <input type="number" name="duration" ng-model="user.duration" placeholder="Hours" ng-model-options="{ getterSetter: true }"><br>
    <button type="button" ng-click="send()" class="btn btn-default btnbtn-block btn-success" >Generate Routes!</button>
    </form>
    <br>
    <!--<pre>{{curLoc | json}}</pre>-->
    <!--<pre>Your Current Selected Location = <span ng-bind="user.curLoc()"></span></pre>
    <pre>Your Current Planned Travel Time = <span ng-bind="user.duration()"></span></pre>-->
</div>